.container {
    display: flex;
    min-height: calc(100% - 20px);
    justify-content: center; /* 가운데 정렬 */
    background-image: url("../images/5.png");
  background-size: cover;
}


main {
    flex: 1;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
    flex-grow: 1;
    padding: 20px;
    flex-direction: column;
    
  }
  
  .content {
    margin-bottom: 20px;
  }
  


.content {
text-align: center;
}

.content button {
margin: 10px;
padding: 12px 20px; /* 버튼의 패딩을 조정하여 크기를 변경합니다 */
font-size: 16px; 
background-color: #f2f2f2;
}


.sidebar {
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
margin-top: 0;
font-size: 20px;
margin-bottom: 10px;
}

.sidebar ul {
list-style: none;
padding: 0;
margin: 0;
}

.sidebar li {
margin-bottom: 10px;
}

.sidebar li a {
display: block;
text-decoration: none;
padding: 10px;
color: #333;
font-weight: bold;
border-radius: 5px;
transition: background-color 0.3s ease;
font-size: 20px;
}

.sidebar li a:hover {
background-color: #333;
color: #fff;
}


/* 버튼 스타일 - 윤곽 스타일 */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #9f9f9f;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 호버 효과 - 윤곽 스타일 */
button:hover {
  background-color: #736679;
  color: #fff;
  border-color: #696565;
}



.content {
    display: none;
}

.button-container {
display: flex;
justify-content: center;
align-items: center;
}

.button-container button {
margin: 0 10px; /* 좌우 여백을 동일하게 조정합니다 */
}


h2 {
text-align: center;
}

.image-table {
width: 100%;
/* border-collapse: collapse; */
margin-left: auto;
margin-right: auto;
}

.image-table td {
width: 10%;
text-align: center;
}

.image-table img {
width: 60%; /* 원하는 이미지 너비 */
height: 10%; /* 이미지의 가로 크기에 따라 자동으로 조정 */
object-fit: cover; /* 이미지 비율 유지하며 채우기 */
}

.image-container img {
width: 19%; /* 원하는 이미지 너비 */
height: 0.3%; /* 이미지의 가로 크기에 따라 자동으로 조정 */
object-fit: cover; /*이미지 비율 유지하며 채우기 */
}

.search-box {
display: flex;
}

.search-box input[type="text"] {
flex: 1;
padding: 10px;
font-size: 16px;
}

.search-box input[type="submit"] {
padding: 10px 20px;
font-size: 16px;
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
}


  #movieImage {
  width: 300px; /* 원하는 가로 크기 백분율로 설정하세요 */
  height: auto; /* 세로 크기는 자동으로 조정됩니다 */
  object-fit: cover;
  object-position: center;
}

  

  .movie-info {
    display: none;
    margin-left: auto;
margin-right: auto;
text-align: center;
  }
  
  .movie-info {
    display: none;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-info h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .movie-info img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .movie-info p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
  }
  
  .movie-info strong {
    font-weight: bold;
  }
  
  .expanded-text {
    margin-bottom: 10px;
    border-left: 4px solid #ccc;
    padding-left: 15px;
    text-align: left;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    font-size: 18px;
    padding: 10px;
  }
  
  .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #3a253ae7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px; 
    margin-left: auto;
    margin-right: auto;
  }

  
  
  .image-container {
    display: inline-block;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
  }
  
  .image-container img {
    padding: 5px;
    width: 300px; 
  }
  
  .searchBox {
    display: flex;
    justify-content: center;
    padding: 0 20px; /* 양옆 여백 설정 */
    box-sizing: border-box; /* padding을 포함한 전체 너비로 계산 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 20px;
  }
  
  .searchBox label {
    margin-right: 10px; /* 레이블과 입력 필드 사이 여백 설정 */
  }
  
  .searchBox input[type="text"] {
    padding: 8px; /* 입력 필드 패딩 설정 */
    border: 1px solid #ccc; /* 입력 필드 테두리 설정 */
    border-radius: 5px; /* 입력 필드 테두리 둥글기 설정 */
  }
  
  